body{
  font-family: Bebas Neue;
}

/* Navbar Styling */
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.navbar .navbar-brand {
  display: flex;
  justify-content: center;
  width: 100%;
}

.social-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 0 10px;
  background-color: #ED1D24; /* Transparent */
  transition: background-color 0.3s ease;
  text-align: center;
  font-size: 24px;
  box-shadow: 2px 2px 0px 4px #333333;
}

.social-icon i {
  color: white;
  font-size: 50px;
}

.social-icon:hover {
  background-image:url('img/bg-sosmed.webp'); /* Hover effect */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Agar gambar tetap saat scroll */
}

/* Animation */
@keyframes waveAnimation {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}

.social-icon:nth-child(1) {
  animation: waveAnimation 1.5s infinite ease-in-out;
}

.social-icon:nth-child(2) {
  animation: waveAnimation 1.5s infinite ease-in-out 0.2s;
}

.social-icon:nth-child(3) {
  animation: waveAnimation 1.5s infinite ease-in-out 0.4s;
}

.social-icon:nth-child(4) {
  animation: waveAnimation 1.5s infinite ease-in-out 0.6s;
}

/* For making Navbar items appear on different screen sizes */
@media (max-width: 767px) {
  .navbar .social-icon {
    width: 50px;
    height: 50px;
  }

  .social-icon i {
    font-size: 35px;
  }
  .social-icon .dex-logo{
    width: 45px;
  }
  .social-icon .dextools-logo{
    width: 40px;
  }
}
/* Style Bg Video Start */
#about {
  position: relative;
  overflow: hidden;
  color: #fff;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#about::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Hitam dengan opacity 50% */
  z-index: 0;
}

#about .container {
  position: relative;
  z-index: 1; /* Pastikan konten tetap terlihat di atas overlay */
  background-color: rgba(237, 29, 36, 0.9);
  width: 100%;
  height: 100%;
  padding-top: 30px;

}

#about .container h2{
  font-family: "avengerFont";
}

/* Style Bg Video End */

.jumbotron {
  padding-top: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url("background/bg1.webp") center/cover no-repeat;
  overflow: hidden; /* Memastikan gambar tidak melampaui container */
}


.jumbotron .text-right {
  opacity: 0;
  animation: slideImageRight 1s forwards;
}
.jumbotron .text-left{
  opacity: 0;
  animation: slideImageLeft 1s forwards;
}

.jumbotron .text-left h1,
.jumbotron .text-right h1 {
  color: #FFFFFF;
  font-family: "avengerFont";
}

.jumbotron .text-left {
  animation-delay: 0.5s; /* Teks kiri muncul lebih dulu */
}

.jumbotron .text-right {
  animation-delay: 1s; /* Teks kanan muncul setelahnya */
}

.image-right {
  width: 100%;
  height: auto;
  opacity: 0;
  animation: slideImageRight 1s forwards;
  object-fit: contain; /* Gambar tetap berada dalam batas container */
}
.image-left{
  width: 100%;
  height: auto;
  opacity: 0;
  animation: slideImageLeft 1s forwards;
  object-fit: contain; /* Gambar tetap berada dalam batas container */
}

.image-left {
  animation-delay: 1s; /* Gambar kiri muncul setelah teks kiri */
}

.image-right {
  animation-delay: 1.5s; /* Gambar kanan muncul setelah teks kanan */
}


@keyframes slideImageLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%); /* Gambar kiri masuk dari kiri */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideImageRight {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Gambar kanan masuk dari kanan */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@font-face {
  font-family: avengerFont;
  src: url("font/AVENGEANCE HEROIC AVENGER.ttf");
}




/* Galeri Start */
.choose-hero {
  background: url("background/bg2.webp") center/cover no-repeat;
  overflow: hidden; /* Memastikan gambar tidak melampaui container */
}
.choose-hero .container h2 {
  font-family: Bebas Neue;
  color: #FFFFFF;
  
}
.choose-hero .container h2 span {
  font-family: "avengerFont";
}
/* Hero */
.choose-hero {
  padding: 2rem 0;
}

.choose-hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.selected-hero {
  max-width: 80%;
  height: auto;
  margin-bottom: 1rem;
}

#hero-name {
  font-size: 1.5rem;
  font-family: "avengerFont";
  color: #FFFFFF;
}

.btn-hero {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 2px solid white;
  margin: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.3s, border-color 0.3s;
  background-color: #FFFFFF;
}

.btn-hero:hover {
  transform: scale(1.1);
  border-color: #ED1D24; /* Warna Merah */
  box-shadow: 2px 2px 0px 4px #333333;
}
.btn-hero.active {
  transform: scale(1.1);
  border-color: #FFFFFF; /* Warna Merah */
  box-shadow: 2px 2px 0px 4px #333333;
  background-color: #ED1D24;
}
/* Media Query untuk Mobile */
@media (max-width: 768px) {
  .choose-hero {
    padding: 1.5rem 0;
  }

  .choose-hero h2 {
    font-size: 1.8rem; /* Perkecil ukuran font pada heading */
    margin-bottom: 1rem;
    text-align: center; /* Pusatkan teks */
  }

  .selected-hero {
    max-width: 60%; /* Kurangi ukuran gambar pada layar kecil */
    margin: 1rem auto; /* Pusatkan gambar */
  }

  #hero-name {
    font-size: 1.2rem; /* Perkecil ukuran nama hero */
    text-align: center; /* Pusatkan nama hero */
    margin-bottom: 1rem;
  }

  .btn-hero {
    width: 80px; /* Sesuaikan ukuran tombol */
    height: 80px;
    margin: 0.25rem; /* Kurangi margin antar tombol */
    border-radius: 4px; /* Kurangi radius untuk tombol kecil */
  }

  .choose-hero .container {
    text-align: center; /* Pusatkan semua konten dalam container */
  }

  .choose-hero .row {
    flex-direction: column; /* Tata ulang menjadi kolom di layar kecil */
    align-items: center;
  }
}


/* Animation */
/* Animasi untuk keluar dan masuk hero */
@keyframes slideOutLeft {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-100%); /* Keluar ke kiri */
  }
}

@keyframes slideInRight {
  0% {
    opacity: 0;
    transform: translateX(100%); /* Masuk dari kanan */
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Menambahkan animasi keluar untuk gambar hero yang lama */
.selected-hero.left-slide-out {
  animation: slideOutLeft 0.2s forwards;
}

/* Menambahkan animasi masuk untuk gambar hero yang baru */
.selected-hero.right-slide-in {
  animation: slideInRight 0.2s forwards;
}

/* Galeri End */
/* Kontak Start */
.custom-section {
  background: linear-gradient(to right, #007bff, #00c6ff);
  color: #000;
}

.content-box {
  background-color: #f4c65a;
  border: 5px solid #ff6600;
  font-size: 2.5rem;
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.social-icon-footer {
  gap: 15px;
}

.social-icon-footer {
  display: inline-block;
  background: #ED1D24;
  padding: 20px;
  border: 3px solid #f4c65a;
  border-radius: 5px;
  margin-left: 10px;
  width: 80px;
  height: 80px;
  transition: all 0.3s ease;
  
}
.social-icon-footer:hover,
.social-icon-footer:active {
  background: #000080; /* Menurunkan opacity */
  box-shadow: 5px 5px 5px #333333; /* Menambahkan box shadow */
  transform: translate(-10px, -10px); /* Bergerak ke kiri atas */
}

.social-icon-footer i {
  font-size: 2rem;
  color: #FFF;
}

.social-icon-footer img {
  max-width: 50px;
}

.custom-img {
  border: 5px solid #ff6600;
  max-width: 100%;
}

@media (max-width: 768px) {
  .content-box {
    font-size: 2rem;
  }

  .social-icon-footer {
    padding: 15px;
    margin-bottom: 15px;
    font-size: 2rem;
  }
}
/* Kontak End */
footer {
  background-color: #050c9c;
}
footer p,
a {
  color: #ffffff;
  text-decoration: none;
}
section {
  padding-top: 6rem;
}
